body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 10% 0 10%;
  text-align: center;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 300px 300px, 420px 420px;
}

section {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstBlock {
  width: auto;
}

section h1 {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  margin: 0;
}

section p {
  color: hsl(303, 10%, 53%);
  margin-top: 20px;
  font-size: 20px;
}

aside {
  color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

aside div {
  background-color: hsl(300, 24%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  border-radius: 5px;
  height: 80px;
  align-items: center;
}

.stars {
  flex-direction: row;
  margin: 0;
}

.stars img {
  margin: 5px;
}

.firstRating,
.secondRating,
.thirdRating {
  margin-left: 0;
  margin-right: 0;
}

aside div span {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 18px;
}

article {
  display: flex;
  margin-top: 20px;
  height: 720px;
  flex-direction: column;
}

article div {
  display: flex;
  background-color: hsl(300, 43%, 22%);
  flex-direction: column;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.info img {
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.infoText {
  margin-left: 20px;
}

.info span {
  font-size: 18px;
}

.verified {
  margin-top: 5px;
}

.firstReview,
.secondReview {
  margin-top: 0;
  margin-bottom: 0;
}

.secondReview,
.thirdReview {
  margin-left: 0;
  margin-top: 15px;
}

.name {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.verified {
  color: hsl(333, 80%, 67%);
}

article p {
  color: hsl(0, 0%, 100%);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  text-align: left;
  font-size: 17px;
  line-height: 20px;
}

@media all and (min-width: 1200px) {
  body {
    text-align: start;
  }

  body {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 350px 350px, 700px 700px;
  }

  section,
  article {
    flex-direction: row;
  }

  section {
    margin-top: 0;
    justify-content: space-between;
    align-items: start;
  }

  .firstBlock {
    width: 30%;
  }

  section p {
    margin-top: 0;
    font-size: 15px;
  }

  aside {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
  }

  aside div {
    align-items: center;
    flex-direction: row;
    height: 40px;
    justify-content: start;
  }

  .stars {
    flex-direction: row;
    margin-top: 0;
    margin-left: 8%;
    height: 20px;
  }

  .stars img {
    margin: 0.1em;
  }

  aside div span {
    margin: 0 2% 0 2%;
    font-size: 15px;
  }

  .firstRating {
    margin-right: 40%;
    margin-left: -40%;
  }

  .secondRating {
    margin-left: -20%;
    margin-right: 20%;
  }

  article {
    height: 200px;
    margin-top: 7%;
  }

  .info img {
    width: 40px;
    height: 40px;
  }

  .info span {
    font-size: 15px;
  }

  .verified {
    margin-top: 5px;
  }

  article p {
    text-align: start;
    font-size: 15px;
    line-height: 20px;
  }

  .firstReview {
    margin-top: -2%;
    margin-bottom: 2%;
  }

  .secondReview {
    margin-left: 2%;
    margin-top: -1%;
    margin-bottom: 1%;
  }

  .thirdReview {
    margin-left: 2%;
  }
}